.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
}

.about_container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_container .header .heading {
  margin: 0;
}

.about_container .about_desc {
  width: 80rem;
}
